<div class="welcome-image">
  <img src="images/wedding-banner.jpg"></img>
</div>
<h2 id="welcome-title">Welcome to the Wedding Planner App!</h2>
<div class="row">
  <div class="col-xs-6 col-md-4 center">
    <div class="welcome-icons"><i class = "fa fa-calendar"></i></div>
    <h3 class="plan-collab-track">Plan</h3>
    <span class="welcome-subtext">
      Identify all the tasks, activities and people needed to make your big day one to remember.
    </span>
  </div>
  
  <div class="col-xs-6 col-md-4 center">
    <div class="welcome-icons"><i class = "fa fa-users"></i></div>
    <h3 class="plan-collab-track">Collaborate</h3>
    <span class="welcome-subtext">
      Engage and communicate with vendors, friends and family working with you to make your special day a massive success.
    </span>
  </div>
  
  <div class="col-xs-6 col-md-4 center">
    <div class="welcome-icons"><i class = "fa fa-line-chart"></i></div>
    <h3 class="plan-collab-track"><center>Track</center></h3>
    <span class="welcome-subtext">
      Stay up to date on tasks completed, tasks outstanding, and of course, finances.
    </span>
  </div>
</div>
