/* primary button */
.btn-primary {
    background-color: #FFB021;
    color: #0B0A09;
    border-color: #FFB021;
    border-radius: 10px;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active    {
    background-color: #FFB021;
    color: #FFF;
    border-color: #FFB021;
}


/* nav button links */
.nav li .btn-primary{
  color:#0B0A09;
  margin-top:10px;
  padding: 5px 5px 5px 5px;
}
.nav li .btn-primary:hover,
.nav li .btn-primary:focus,
.nav li .btn-primary:active{
      background-color: #FFB021;
      color: #FFF;
      border-color: #FFB021;
}

/* nav links */
.nav.navbar-nav li a{
  color:#FFF;
}


.nav.navbar-nav li a:hover,
.nav.navbar-nav li a:focus,
.nav.navbar-nav li a:active{
    color: #777;
}