/* link text */
a {
    color: #FFB021;
    
}

/* pagination */
.pagination li a,
.pagination li a:hover,
.pagination li a:focus,
.pagination li a:active{
    color: #FFB021;
}

.pagination li.active a,
.pagination li.active a:hover,
.pagination li.active a:focus,
.pagination li.active a:active{
    color: #FFF;
    background-color: #FFB021;
    border-color: #FFB021;
}

.new_resource{
  color: #333;
  padding-right: 0px;
  float: right;
  padding-top: 25px;
}

.new_resource:hover{
  color: #FFB021;
}

a:hover,
a:focus{
    text-decoration: underline;
    color: #FFB021;
    
}

/* primary button */
.btn-primary {
    background-color: #FFB021;
    color: #0B0A09;
    border-color: #FFB021;
    border-radius: 3px;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active    {
    background-color: #FFB021;
    color: #FFF;
    border-color: #FFB021;
}


/* nav button links */
.nav li .btn-primary{
  color:#0B0A09;
  margin-top: 10px;
  padding: 5px 5px 5px 5px;
 margin-bottom: 5px;
}
.nav li .btn-primary:hover,
.nav li .btn-primary:focus,
.nav li .btn-primary:active{
      background-color: #FFB021;
      color: #FFF;
      border-color: #FFB021;
}

/* nav bar sign in links */
.nav li .btn-signin{
  color: #FFB021;
  background-color: #222222;
  border-color: #FFB021;
  margin-top: 10px;
  padding: 5px 5px 5px 5px;
 margin-bottom: 5px;
}
.nav li .btn-signin:hover,
.nav li .btn-signin:focus,
.nav li .btn-signin:active{
      color: #FFF;
      background-color: #222222;
}

/* nav links */
.nav.navbar-nav li a{
  color:#FFF;
}


.nav.navbar-nav li a:hover,
.nav.navbar-nav li a:focus,
.nav.navbar-nav li a:active{
    color: #777;
}

/* nav logout link */
li.logout a{
  color: #0B0A09;
  margin-top: 10px;
  padding: 5px 10px 5px 10px;
  margin-bottom: 5px;
}
li.logout a:hover,
li.logout a:focus,
li.logout a:active,{
  color: #FFF;
  background-color: #d9534f;
}

/* nav user link */
li.username{
  
  
  margin-bottom: 0px;
  float: right;
  padding-right: 0px;

}
li.username a{
  margin-top: 10px;
  padding: 5px 0px 5px 0px;
  border: 1px solid #222222;
  border-radius: 4px;
  
}
li.username a:hover,
li.username a:focus,
li.username a:active,{
  color: #FFF;
  background-color: #222222;
  
}

/* navigation logo*/
.navbar-inverse .navbar-brand{
  color:#FFB021;
}

.navbar-inverse .navbar-brand:hover,
.navbar-brand a:focus,
.navbar-brand a:active,{
  color:#FFF;
}