.center{
  text-align: center;
 }
 
#welcome-title{
  margin-top: 10px;
 }
 
 .welcome-subtext{

 }
 
 .welcome-icons{
  color: #FFB021;
  font-size: 12em;
 }

 .flush-right{
  padding-right: 0px;
 }
 
 .logout{
  padding-right: 0px;
  padding-left: 0px;
 }
 
 .devise-links{
   margin-top: 10px;
   margin-bottom: 0px;
   
 }
 
 .signin-form,
 .signup-form{
  padding-left: 0px;
 }

 .footer{
   margin-top: 0px;
   margin-bottom: 30px;
   padding-top: 10px;
   clear: both;
   
   hr{
     margin-bottom: 10px;
   }
   
 }

 hr{
	width: 100%;
	border: 1px solid #5E5E5E;
	margin-top: 0px;
	margin-bottom: 15px;
}	

h3{
	color: #FFB021;
}

.signin_logout{
   padding-left: 5px;
   padding-right: 5px;
 }

.ten-px-top-margin{
 margin-top: 10px;
}

/** Galaxy phone**/
@media all and (max-width: 370px) and (min-width: 360px) {
  /* put your mobile css in here */
  .signin_logout{
   padding-right: 0px;
   margin-right: -8px;
  }
}

/** Galaxy phone**/
@media all and (max-width: 376px) and (min-width: 373px) {
  /* put your mobile css in here */
  .signin_logout{
   padding-right: 0px;
   margin-right: -2px;
  }
}
	
